{% extends "index.html" %} {% block navbar %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">CRUD USERS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'users_list'%}">List Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_user'%}">Create Users</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {% block content %}
<!-- list users -->
<section class="page-section" id="list_users">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">TABLA DE POSICIONES FUTBOL COLOMBIANO</h2>
      <h3 class="section-subheading text-muted">data obtained from <a href="https://www.eltiempo.com/deportes/futbol-colombiano/tabla-posiciones">El Tiempo</a></h3>
    </div>
    <div class="text-center">
      <table class="table table" id="myTable">
        <thead>
          <tr>
            <th scope="col">POS</th>
            <th scope="col" colspan="3">EQUIPO</th>
            <th scope="col">PJ</th>
            <th scope="col">PG</th>
            <th scope="col">PP</th>
            <th scope="col">PE</th>
            <th scope="col">GF</th>
            <th scope="col">GC</th>
            <th scope="col">FV</th>
            <th scope="col">CV</th>
            <th scope="col">GD</th>
            <th scope="col" colspan="2">PUNTOS</th>
          </tr>
        </thead>
        <tbody id="tbody_users">
          {% for dt in data %}
          <tr>
            <th scope="row">{{ dt.Posicion }}</th>
            <td colspan="3">{{ dt.Equipo }}</td>
            <td>{{ dt.PJ }}</td>
            <td>{{ dt.PG }}</td>
            <td>{{ dt.PP }}</td>
            <td>{{ dt.PE }}</td>
            <td>{{ dt.GF }}</td>
            <td>{{ dt.GC }}</td>
            <td>{{ dt.FV }}</td>
            <td>{{ dt.CV }}</td>
            <td>{{ dt.GD }}</td>
            <td colspan="2">{{ dt.PTS }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9">No users found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex justify-content-end my-2">
        <a styles="margin-right:2px" href="{% url 'statistics'%}" class="btn btn-success">Refresh</a>

        <a href="{% url 'index'%}" class="btn btn-danger">Regresar</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
