{% extends "index.html" %} {% block navbar %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">CRUD USERS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'users_list'%}">List Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_user'%}">Create Users</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {% block content %}
<!--create users -->
<section class="page-section" id="create_user">
  <div id="form_main" class="container">
    <h1 class="text-center py-4">Create User</h1>
    <form action="" id="form_user" method="post">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Create User" class="btn btn-primary my-3" />
      <a class="btn btn-danger" role="button" href="{% url 'users_list'%}">Cancel</a>
    </form>
  </div>
</section>
{% endblock %}
