<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Reset</title>
</head>
<body style="background-color: lightblue ">


<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">


    <tr>
        <td style="background-color: #0D1F2D">
            <div style="color: #546A7B; margin: 4% 20% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: #FFFFFF; margin: 0 0 10px; text-align: center;">User CRUD REST Framework</h2>
                <h3 style="color: #FFFFFF; margin: 0 0 10px; text-align: center;">Hi {{ name }} {{ lastname }}!</h3>
                <br/>
                <p style="margin: 2px; font-size: 15px; text-align: justify; color: #FFFFFF">
                    You're successfully registered!
                </p>
                <br/>
                <p style="margin: 2px; font-size: 15px; text-align: justify; color: #FFFFFF">
                    Your account has been created with de following data:
                </p>
                <br/>
                <ul>
                    <li style="margin: 2px; font-size: 15px; text-align: justify; color: #FFFFFF">
                        Username: {{ username }}
                    </li>
                    <li style="margin: 2px; font-size: 15px; text-align: justify; color: #FFFFFF">
                        Email: {{ email }}
                    </li>
                </ul>

                <div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">

                </div>
                <div style="width: 100%; text-align: center">
                    <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db"
                       href="{% url 'index' %}">Go to page</a>
                </div>
                <p style="color: #b3b3b3; font-size: 10px; text-align: center;margin: 30px 0 0">User CRUD REST Framework
                    2022</p>

            </div>
        </td>
    </tr>
</table>

</body>
</html>
