{% extends "index.html" %}
{% block navbar %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">CRUD USERS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'users_list'%}">List Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_user'%}">Create Users</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
 <!-- list users -->
 <section class="page-section" id="list_users">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">LIST USERS</h2>
        <h3 class="section-subheading text-muted">data obtained from rest framework</h3>
      </div>
      <div class="text-center">
          <a class="btn btn-primary rol="button" href="{% url 'create_user'%}">Create User</a>
        <table class="table table" id="myTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usename</th>
              <th scope="col">Name</th>
              <th scope="col">Lastname</th>
              <th scope="col">Cellphone</th>
              <th scope="col">Email</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="tbody_users">
              {% for user in data %}
              <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.cellphone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
                <td>
                  <a class="btn btn-primary" role="button" href="{% url 'update_user' user.user_id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a class="btn btn-danger" onclick="return confirm('sure you want to delete user?')"role="button" href="{% url 'delete_user' user.user_id %}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="9">No users found</td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endblock %}